<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="m-y-md">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card card-block">
      <h4 class="card-title">Angular</h4>
      <p class="card-text">HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
      <a href="https://angularjs.org/" class="card-link">Angular 1</a>
      <a href="https://angular.io/" class="card-link">Angular 2</a>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card card-block">
      <h4 class="card-title">Angular New Router</h4>
      <p class="card-text">The new router's API is a bit unfinished, but it will work against Angular 1.4 and 2.0. This is nice because the router provides a kind of MVC bridge between the two technology stacks.</p>
      <a href="https://angular.github.io/router/" class="card-link">Angular New Router</a>
    </div>
  </div>

  <div class="clearfix visible-xs-block"></div>

  <div class="col-lg-6">
    <div class="card card-block">
      <h4 class="card-title">Twitter Bootstrap</h4>
      <p class="card-text">Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
      <a href="http://getbootstrap.com/" class="card-link">Bootstrap 3</a>
      <a href="http://v4-alpha.getbootstrap.com/" class="card-link">Bootstrap 4</a>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card card-block">
      <h4 class="card-title">Express</h4>
      <p class="card-text">Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
      <a href="http://expressjs.com/" class="card-link">Express</a>
    </div>
  </div>
</div>
