<ul>
  <li>
    <a href="https://github.com/albatrosary/generator-angular-eggs">github.com/albatrosary/generator-angular-eggs</a>
  </li>
  <li data-ghapi="https://api.github.com/repos/albatrosary/generator-angular-eggs">
    <span class="original" style="display: none;">Have an issue? <a href="https://github.com/albatrosary/generator-angular-eggs/issues">No open issues</a></span>
      <span class="enhanced" style="">
        <a href="https://github.com/albatrosary/generator-angular-eggs/issues">Issues</a> on GitHub
      </span>
  </li>
  <li>
    <a href="https://github.com/albatrosary/generator-angular-eggs/pulls">Pull requests</a> on GitHub
  </li>
</ul>